<div class="col-lg-12">
    <ul class="nav nav-pills">
        <li class="active">
          <a href="/LakeFinder">MN Fish Lake Finder</a>
        </li>
        <li>
            <a routerLink="/lakefeature" routerLinkActive="active">Search by lake features</a>
        </li>
        <li>
            <a routerLink="/lakesearch" routerLinkActive="active">Search by lake</a>
        </li>
        <li>
            <a href="https://paypal.me/swoonme" target="_blank">Donate</a>
        </li>
    </ul>
</div>
&nbsp;
<div class="col-lg-12">
    <label for="species-select">Species</label>
    <select id="species-select" [(ngModel)]="speciesInput" class="form-select mb-2">
        <option *ngFor="let s of species" [value]="s.Id">{{ s.Species }}</option>
    </select>
    <label for="county-select">County</label>
    <select id="county-select" [(ngModel)]="countyInput" class="form-select mb-2">
        <option [value]="0">All of MN</option>
        <option *ngFor="let c of counties" [value]="c.Id">{{ c.County }}</option>
    </select>
    <button type="button" class="btn btn-primary" (click)="searchLakes(countyInput)">Search</button>
</div>
<div class="col-lg-12">
    <h1>Searching {{currentcounty}} County {{lakeCount}}</h1>
    <h2>{{countyCount}}</h2>
    <p>{{searchstatus}}</p>
</div>
<div class="col-lg-12 w-auto">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>#</th>
                <th><a href="javascript:void(0)" (click)="sortBy('name')">Name <span *ngIf="sortColumn==='name'">{{ sortDirection==='asc' ? '▲' : '▼' }}</span></a></th>
                <th><a href="javascript:void(0)" (click)="sortBy('averageWeight')">Average Weight <span *ngIf="sortColumn==='averageWeight'">{{ sortDirection==='asc' ? '▲' : '▼' }}</span></a></th>
                <th><a href="javascript:void(0)" (click)="sortBy('surveyDate')">Survey Date <span *ngIf="sortColumn==='surveyDate'">{{ sortDirection==='asc' ? '▲' : '▼' }}</span></a></th>
                <th><a href="javascript:void(0)" (click)="sortBy('zero')">0-5" <span *ngIf="sortColumn==='zero'">{{ sortDirection==='asc' ? '▲' : '▼' }}</span></a></th>
                <th><a href="javascript:void(0)" (click)="sortBy('one')">6-7" <span *ngIf="sortColumn==='one'">{{ sortDirection==='asc' ? '▲' : '▼' }}</span></a></th>
                <th><a href="javascript:void(0)" (click)="sortBy('two')">8-9" <span *ngIf="sortColumn==='two'">{{ sortDirection==='asc' ? '▲' : '▼' }}</span></a></th>
                <th><a href="javascript:void(0)" (click)="sortBy('three')">10-11" <span *ngIf="sortColumn==='three'">{{ sortDirection==='asc' ? '▲' : '▼' }}</span></a></th>
                <th><a href="javascript:void(0)" (click)="sortBy('four')">12-14" <span *ngIf="sortColumn==='four'">{{ sortDirection==='asc' ? '▲' : '▼' }}</span></a></th>
                <th><a href="javascript:void(0)" (click)="sortBy('five')">15-19" <span *ngIf="sortColumn==='five'">{{ sortDirection==='asc' ? '▲' : '▼' }}</span></a></th>
                <th><a href="javascript:void(0)" (click)="sortBy('six')">20-24" <span *ngIf="sortColumn==='six'">{{ sortDirection==='asc' ? '▲' : '▼' }}</span></a></th>
                <th><a href="javascript:void(0)" (click)="sortBy('seven')">25-29" <span *ngIf="sortColumn==='seven'">{{ sortDirection==='asc' ? '▲' : '▼' }}</span></a></th>
                <th><a href="javascript:void(0)" (click)="sortBy('eight')">30-34" <span *ngIf="sortColumn==='eight'">{{ sortDirection==='asc' ? '▲' : '▼' }}</span></a></th>
                <th><a href="javascript:void(0)" (click)="sortBy('nine')">35-39" <span *ngIf="sortColumn==='nine'">{{ sortDirection==='asc' ? '▲' : '▼' }}</span></a></th>
                <th><a href="javascript:void(0)" (click)="sortBy('ten')">40-44" <span *ngIf="sortColumn==='ten'">{{ sortDirection==='asc' ? '▲' : '▼' }}</span></a></th>
                <th><a href="javascript:void(0)" (click)="sortBy('eleven')">45-49" <span *ngIf="sortColumn==='eleven'">{{ sortDirection==='asc' ? '▲' : '▼' }}</span></a></th>
                <th><a href="javascript:void(0)" (click)="sortBy('twelve')">50-100" <span *ngIf="sortColumn==='twelve'">{{ sortDirection==='asc' ? '▲' : '▼' }}</span></a></th>
                <th><a href="javascript:void(0)" (click)="sortBy('total')">Total <span *ngIf="sortColumn==='total'">{{ sortDirection==='asc' ? '▲' : '▼' }}</span></a></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let lake of fishtable; let i = index">
                <th scope="row">{{ i + 1 }}</th>
                <td>
                    <a href="javascript:void(0)" (click)="GoToLake(lake.lakeid)">{{ lake.name }}</a>
                    &nbsp;&nbsp;
                    <a href="javascript:void(0)" (click)="GoToWaterAccess(lake.waterAccess[1], lake.waterAccess[0])" title="Get Directions to Water Access">
                        <img src="https://cdn.icon-icons.com/icons2/1364/PNG/512/boatonaramp_89129.png" width="15" height="15" title="Water Access Site" />
                    </a>
                    <button type="button" class="dialog-open-button" (click)="openDialog(lake.narrative)" title="Lake Summary">
                        <font size="2">Summary</font>
                    </button>
                    <button type="button" class="dialog-open-button" (click)="openTopo(lake.waterAccess[1], lake.waterAccess[0])" title="Lake Topo">
                        <font size="2">Lake Topo Chart</font>
                    </button>
                </td>
                <td>{{ lake.speciesdata.averageWeight }}</td>
                <td>{{ lake.surveyDate | date:'shortDate' }}</td>
                <td>{{ lake.fishlengths.zero }}</td>
                <td>{{ lake.fishlengths.one }}</td>
                <td>{{ lake.fishlengths.two }}</td>
                <td>{{ lake.fishlengths.three }}</td>
                <td>{{ lake.fishlengths.four }}</td>
                <td>{{ lake.fishlengths.five }}</td>
                <td>{{ lake.fishlengths.six }}</td>
                <td>{{ lake.fishlengths.seven }}</td>
                <td>{{ lake.fishlengths.eight }}</td>
                <td>{{ lake.fishlengths.nine }}</td>
                <td>{{ lake.fishlengths.ten }}</td>
                <td>{{ lake.fishlengths.eleven }}</td>
                <td>{{ lake.fishlengths.twelve }}</td>
                <td>{{ lake.fishlengths.total }}</td>
            </tr>
        </tbody>
    </table>
</div>

<div class="dialog-backdrop" *ngIf="dialogVisible">
    <div class="dialog-box">
        <div class="dialog-header">
            <h3>Lake Summary</h3>
            <button type="button" class="dialog-close" (click)="closeDialog()">&times;</button>
        </div>
        <div class="dialog-body">
            <div [innerHTML]="safeDialogContent"></div>
        </div>
        <div class="dialog-footer">
            <button type="button" class="btn btn-secondary" (click)="closeDialog()">Close</button>
        </div>
    </div>
</div>

<router-outlet />
